.container{
    container-type: inline-size;
}

.form-group{
 margin-top: 30px;   
 margin-bottom: 30px;   
}

#mensaje{ 
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: $input-border-color;

}

.btn{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 24px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    color: white;
    transform: translateY(-2px);  //Efecto de elevación 
}

@container (width < 431px){
    :is(label){
        font-size: max(.75em, .55em + 2cqi);
    }
    .form-text{
        font-size: max(.5em, .3em + 2cqi);
    }
    .btn{
        font-size: max(.7em, .5em + 2cqi);
    }
}

@container (width > 430px) and (width < 821px){
    :is(label){
        font-size: max(.7em, .5em + 2cqi);
    }
    .btn{
        font-size: max(.75em, .55em + 2cqi);
    }
}