@layer defaults {
  .enlace-info:hover {
    transform: translateY(-2px);    
  }
}

@layer utilities {
  .enlace-info {
    background-color: $principal-color;
  }
}

@layer components {
  #call-to-action {
    display: inline-block;
    border-radius: 0.25em;
    padding: 15px 30px;
    font-size: 24px;
    transition: background-color 0.3s, transform 0.2s;
  }
}

body {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
}

.logo {
  max-width: 100px;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  container-type: inline-size;
}

.grid-container2{
  min-height: 100vh;
}

.main-content {
  text-align: center;
  padding: 20px;

  .imagenportada{
    max-width: 100%;
    height: auto;
  }
  
  h1{
    font-family: $font-family-serif;
    font-size: 48px;
  }

  .enlace-info{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .enlace-info:hover{
    color: rgb(255, 255, 255);
  }
}

@container (width < 431px){
  .grid-container2{
    min-height: 50vh;
  }
  .main-content {
    h1{
      font-size: 30px;
    }

    .eslogan{
      font-size: 18px;
    }
  
    .enlace-info {
      margin-top: 20px;
      font-size: 15px;
    }
  }
}

@container (width > 430px) and (width < 821px){
  .grid-container2{
    min-height: 50vh;
  }
  .main-content {
    h1{
      font-size: 40px;
    }

    .eslogan{
      font-size: 20px;
    }
  
    .enlace-info {
      margin-top: 20px;
      font-size: 20px;
    }
  }
}

/* Versiones alternativas para navegadores que no admiten CSS Grid */
@supports not (display: grid) {
  .containergrid {
      display: flex;
      flex-direction: column;
  }

  .main-content {
      width: 100%;
      flex-grow: 1;
  }
}
