body {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
}

.containergrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  @media (max-width: 431px) {
    min-height: 50vh;
  }
  @media (min-width: 431px) and (max-width: 821px) {
    min-height: 60vh;
  }
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 150px;
  @media (max-width: 431px) {
    margin-right: 0px;
  }
  @media (min-width: 431px) and (max-width: 821px) {
    margin-right: 0px;
  }
}

.main-content {
  text-align: center;
  padding: 20px;
}

.imagenportada{
  max-width: 100%;
  height: auto;
}

h1{
  font-family: $font-family-serif;
  font-size: 48px;
  @media (max-width: 431px) {
    font-size: 30px;
  }
  @media (min-width: 431px) and (max-width: 821px) {
    font-size: 40px;
  }
}

.eslogan{
  @media (max-width: 431px) {
    font-size: 15px;
  }
  @media (min-width: 431px) and (max-width: 821px) {
    font-size: 20px;
  }
}

.btn {
  padding: 15px 30px;
  font-size: 24px;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
  @media (max-width: 431px) {
    font-size: 15px;
  }
  @media (min-width: 431px) and (max-width: 821px) {
    font-size: 20px;
  }
}

.btn:hover {
  color: white;
  transform: translateY(-2px);  //Efecto de elevación 
}

/* Versiones alternativas para navegadores que no admiten CSS Grid */
@supports not (display: grid) {
  .container {
      display: flex;
      flex-direction: column;
  }

  .main-content {
      width: 100%;
      flex-grow: 1;
  }
}
