.containervideos{
    max-width: 100%;
    margin-top: auto;
    margin-bottom: 150px;

    h1{
        margin-top: 25px;
        margin-bottom: 50px;
        font-size: 3.5rem;
        text-align: center;
        @media (max-width: 431px) {
            width: 100%;
            font-size: 1.9rem;
            margin-bottom: 0px;
        }
        @media (min-width: 431px) and (max-width: 821px) {
            font-size: 2.9rem;
            margin-bottom: 0px;
        }
    }
}

figure{
    margin: 0 auto;
    align-items: center;
}

.navvideos{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    ul{
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 70%;
        gap: 50px;
        @media (max-width: 431px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 0;
            margin: 0 auto;
        }
        @media (min-width: 431px) and (max-width: 821px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
        }
    }
}

